body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0;
}

.container {
    width: 95%;
    margin : 0 auto;
}

header{
    background-color: #ffffff;
    position: sticky;
    top: 0px
}


header::after {
    content: '';
    display: table;
    clear: both;
}

.logo a {
    float : left;
    font-style: italic;
    text-decoration: none;
    color : #000;
}

nav {
    float : right;
    font-weight: bolder;
}

nav ul {
    margin-bottom: 10px;
    padding: 0;
    margin-top: 10px;
    list-style: none;
}

nav li {
    display : inline-block;
    margin-left: 50px;
    position: relative;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: large;
}

nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #000;

    position: absolute;
    transition: all ease-in-out 250ms;
}

nav a:hover::after {
    width: 100%;
}

.inst_logo {
    height: 20px;
    width: 20px;
}

.benimage img {
    z-index: -1;
    position: relative;
    filter: brightness(70%);
    width: 100%;
}

.benimage center{
    font-size: 40px;
    color : #ffffff;
    position : absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-shadow: 2px 2px #000;
    margin: 20px 20px;
}

.upcoming_events {
    text-align: center;
}

.upcoming_events a{
    text-align: center;
    font-weight: lighter;
    color : #000;
}

.events {
    width: 95%;
    margin: 20px 2.5%;
    padding: 10px 10px;
    background-color: rgb(214, 214, 214);
    display: inline-block;
}

.events img {
    float: left;
    height: 250px;
    margin : auto 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.118);
}

.events h2 {
    margin-left: 400px;
    position: relative;
    font-size: 30px;
}

.events p {
    margin-left: 400px;
    font-size: 20px;
}
